<!-- <div class="setup-list-component">

    <div class="mat-h1">{{title}}</div>

    <table mat-table [dataSource]="setups" multiTemplateDataRows>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
            <td mat-cell *matCellDef="let element">{{element[column]}}</td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="setup-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <app-setup-list-expanded-detail [setup]="element" class="setup-detail">
                    </app-setup-list-expanded-detail>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="setup-element-row" [class.setup-element-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="setup-detail-row"></tr>

    </table>

</div> -->

<div class="setup-list-component">
    <div class="mat-h1">{{ title }}</div>

    <table mat-table [dataSource]="setups" multiTemplateDataRows>
        <!-- Unexpandable basic view-->
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">
                {{ getPropertyValueForColumn(element, column) }}
            </td>
        </ng-container>
        <div class="table table-dark col-12"></div>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="setup-element-detail" [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          ">
                    <div class="setup-description">
                        <a routerLink="`/setup/${detail.id}` ">More Details...</a>
                    </div>
                    <app-property-tree [root]="element"></app-property-tree>
                    <div class="setup-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

        <mat-row *matRowDef="let element; columns: columnsToDisplay" matRipple class="setup-element-row" [class.expanded]="expandedElement === element" (click)="expandedElement = element">
        </mat-row>

        <mat-row *matRowDef="let element; columns: ['expandedDetail']" class="setup-detail-row"></mat-row>
    </table>
</div>