<div>
    <app-property-tree [root]="setup"></app-property-tree>

    <!--     
    <div class="container">
        <div class="property-graph">
            <h4 class="property-name">Request Matcher</h4>
            <dl *ngFor="let pMatcher of matcherProperties">
                <dt class="property">{{pMatcher.name | uppercase }}</dt>
                <dd class="property-value">{{pMatcher.value}}</dd>
            </dl>
        </div>

    </div>

    <div class="container">
        <div class="property-graph">
            <h3>Request Matcher</h3>
            <dl *ngFor="let pMatcher of matcherProperties">
                <dt class="property">{{pMatcher.name | uppercase }}</dt>
                <dd class="property-value">{{pMatcher.value}}</dd>
            </dl>
        </div>
    </div> -->
</div>