
.property {
    font-size: smaller;
    font-weight: 450;
    color: #455A64
}

.property-graph {
    background-color: #EEEEEE;
    h4 {
        font-size: larger;
        font-weight: 200;
        color: #546E7A;
    }
}

.property-value, .dd {
    margin-inline-start: 0px;
}