<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="property-tree">

    <!-- leaf node -->
    <mat-tree-node class="property-node" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <dl *ngIf="node.name !== 'id'">
            <dt>{{node.name | uppercase }}</dt>
            <dd class="property-value">{{node.value}}</dd>
        </dl>
    </mat-tree-node>

    <!-- expandable node -->
    <mat-tree-node class="property-node" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>

        <button mat-button color="secondary" class="property-button" matTreeNodeToggle aria-label="property-node-expand-button" aria-hidden="true">
            <mat-icon class="mat-icon-rtl-mirror column">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <div class="property-name column"> &nbsp;&nbsp;&nbsp;{{node.name}}</div>
        </button>

    </mat-tree-node>

</mat-tree>